@{
    Page.Title = "Add/Edit Territory";
    Layout = "~/_SiteLayout.cshtml";
}

<div>
    
</div>


@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Page.Title.</h1>
            </hgroup>
        </div>
    </section>
}
