@{
    Page.Title = "Manage Categories";
    Layout = "~/_SiteLayout.cshtml";

    // Page Global variables for the form's contents
    string catId, catName, description, picture, mimeType;
    catId = catName = description = picture = mimeType = null;
    var db = Database.Open("NW");
    // TODO: Process any POST request
    if(IsPost)
    {
        string command = Request.Form["command"];
        switch(command)
        {
            case "read": // Lookup a single Category
                var queryOneCategory = "SELECT CategoryID, CategoryName, Description, Picture, PictureMimeType FROM Categories WHERE CategoryID = @0";
                int searchId;
                if (int.TryParse(Request["selectedCategory"], out searchId))
                {
                    var foundCategory = db.QuerySingle(queryOneCategory, searchId);
                }
                break;
        }
    }

    // Get data for drop-down
    var queryAllCategories = "SELECT CategoryID, CategoryName FROM Categories ORDER BY CategoryName";
    var allCategories = db.Query(queryAllCategories);

}

<form method="post">
    <h1>Manage Categories</h1>
    Category: 
    <select name="selectedCategory">
        <option value="">[select a category to lookup]</option>
        @foreach (var item in allCategories)
        {
            <option value="@item.CategoryID">@item.CategoryName</option>
        }
    </select>
    <button type="submit" name="command" value="read">Lookup Category</button>
</form>
