<nav>
    <ul>
        <li class="brand"><img src="~/images/CPSC-1517.png" width="25" height="30" /> Razor Demos</li>
        <li><a href="~/Default.cshtml">Home Page</a></li>
        <li><a href="~/Sandbox.cshtml">Sandbox</a></li>
        <li><a href="~/About.cshtml">About</a></li>
    </ul>
</nav>