@{
    Page.Title = "Title goes here";
    Layout = "~/_Layout.cshtml";
}

@section pagefooter {
    <p>Today's date is @DateTime.Today.ToLongDateString().</p>
    <p>&copy; @DateTime.Today.Year</p>
}

<header>
    <h1>About this Site</h1>
    <h2>(and the back-end)</h2>
</header>

<main>
    <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
    <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
    <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
</main>