/*The missing style for the select tag*/
select {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

.ui-state-success,
.ui-widget-content .ui-state-success,
.ui-widget-header .ui-state-success {
	border: 1px solid #0ec829;
	background: #60fc80;
	color: #777620;
}
