body {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(4, auto);
}

h1 {
    grid-row: 1;
    grid-column: 1 / span 4;
}

div {
    font-size: 150px;
}

#minTens {
    grid-rows: 2;
    grid-columns: 1;
}

#minOnes {
    grid-rows: 2;
    grid-columns: 2;
}

#secTens {
    grid-rows: 2;
    grid-columns: 3;
}

#secOnes {
    grid-rows: 2;
    grid-columns: 4;
}
